    <section class="success" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 data-animate="lightSpeedIn">Contactez moi</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                {% for message in app.session.flashbag.get('message') %}
                <div class="alert alert-success text-center animated infinite pulse" role="alert">{{message}}</div>
                {% endfor %}
                {% for message in app.session.flashbag.get('error') %}
                <div class="alert alert-danger text-center animated infinite pulse" role="alert">{{message}}</div>
                {% endfor %}
                {{ form_start(form,{'attr':{'action':'#contact'}}) }}

                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                {{ form_label(form.name) }}
                                {{ form_widget(form.name, {'attr':{'data-validation-required-message':"Please enter your name.",'placeholder':'Nom','class':'form-control'}}) }}
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                {{ form_label(form.email) }}
                                {{ form_widget(form.email, {'attr':{'data-validation-required-message':"Please enter your email address.",'placeholder':'Email','class':'form-control'}}) }}
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                {{ form_label(form.phoneNumber) }}
                                {{ form_widget(form.phoneNumber, {'type':'tel','attr':{'data-validation-required-message':"Please enter your phone number.",'placeholder':'Numéro de téléphone, sans éspaces!','pattern':'\\+?\\d{10,14}','class':'form-control'}}) }}
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                {{ form_label(form.message) }}
                                {{ form_widget(form.message, {'attr':{'data-validation-required-message':"Please enter your message.",'placeholder':'Message','class':'form-control'}}) }}
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                            {{ form_widget(form.save, {'label': 'Envoyer','attr':{'class':"btn btn-success btn-lg"}}) }}
                            </div>
                        </div>
{{ form_rest(form) }}
{# Clé du site 6LfRbSMTAAAAALInst80NYD01FwCqY7EjRPP1mXz  Clé secrète 6LfRbSMTAAAAAA8glujAxy5SyHV_UftcSpB_id6t #}
                <div class="g-recaptcha" data-sitekey="{{ site_key }}"></div>
{{ form_end(form) }}
{# form(contact)#}

                </div>
            </div>
        </div>
    </section>