    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-6">
                        <h3>Location</h3>
                        <p>13004 Marseille</p>
                    </div>
                    <div class="footer-col col-md-6">
                        <h3>Réseaux sociaux</h3>
                        <ul class="list-inline">
                            <li>
                                <a data-delay="100" data-animate="rotateIn" href="https://www.facebook.com/100002655906439" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a data-delay="500" data-animate="rotateIn" href="https://plus.google.com/u/0/116010067147885267119/about" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a data-delay="1000" data-animate="rotateIn" href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a data-delay="1500" data-animate="rotateIn" href="https://fr.linkedin.com/in/magomed-kadiev-0506a8a7" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                    <!--<div class="footer-col col-md-4">
                        <h3>About Freelancer</h3>
                        <p>Freelance is a free to use, open source Bootstrap theme created by <a href="http://startbootstrap.com">Start Bootstrap</a>.</p>
                    </div>-->
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div data-animate="rollIn" class="col-lg-12">
                        Copyright &copy; <a href="http://www.kadiev.eu">www.kadiev.eu</a> 2016
                    </div>
                </div>
            </div>
        </div>
    </footer>