    <section class="success" id="realizations">
        <div class="container">
            
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 data-animate="lightSpeedIn" class=" ">Mes réalisations</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                {% for img in imgList %}
                    
                        <div class="col-sm-4 portfolio-item">
                            {% if img.link != '#'  %}
                            <a href="{{img.link}}" target="_blank" class="portfolio-link" >
                            {% else %}
                            <a href="javascript:void(0);"  class="portfolio-link" >
                            {% endif %}
                                <div class="caption">
                                    <div class="caption-content">
                                        <i class="fa fa-search-plus fa-3x"></i>
                                    </div>
                                </div>
                                {# image dimension 35x35 #}
                                <img src="{{asset('media/img/portfolio/'~img.name)}}" class="img-responsive" alt="{{img.description}}">
                            </a>
                        </div>
                    
                {% endfor %}
            </div>
        </div>
    </section>