    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <figure  data-animate="zoomIn">
                        <img class="img-responsive" src="{{asset('media/img/profile.png')}}" alt="">
                    </figure>
                    <div class="intro-text">
                        <span class="name">Magomed KADIEV</span>
                        <hr class="star-light">
                        <p class="skills animated infinite pulse">Informaticien - Développeur Web</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </header>