{% extends 'base.html.twig' %}

{% block body %}



    <!-- Navigation -->
    {% include 'portfolio/nav.menu.html.twig' %}


    <!-- Header -->
    {% include 'portfolio/header.html.twig' %}

    {# TEMP LISTE!!!!!!!!!!!!!!!!!!!!!!!!  #}
    {# set imgList = ['cabin.png','cake.png','circus.png'] #}
    {% set imgList = [{'name':'cv.jpg', 'link':'http://cv.kadiev.eu', 'description':'cv kadiev'},{'name':'projet.jpg', 'link':'#', 'description':'projet'},{'name':'projet.jpg', 'link':'#', 'description':'projet'}] %}
    
    <!-- Portfolio skills Section -->
    {% include 'portfolio/skills.html.twig' %}
 
    <!-- Portfolio Grid Section -->
    {% include 'portfolio/grid.html.twig' %}

    <!-- About Section -->
    {% include 'portfolio/about.html.twig' %}


    <!-- Contact Section -->
    {% include 'portfolio/contact.html.twig' %}

    <!-- Footer -->
    {% include 'portfolio/footer.html.twig' %}
    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>    




    <!-- Portfolio Modals -->
    {# for img in imgList }
        {% include 'portfolio/modal.html.twig' %}
    {% endfor #}


{% endblock %}

{% block stylesheets %}
    <link href="{{asset('media/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css">
    <link href="{{asset('media/css/layout.css')}}" rel="stylesheet" type="text/css">
    <link href="{{asset('media/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="{{asset('media/css/animate.css')}}" rel="stylesheet" type="text/css">
{% endblock %}
{% block javascripts %}
<script src="{{asset('media/js/jquery.js')}}"></script>
<script src="{{asset('media/js/bootstrap.min.js')}}"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="{{asset('media/js/classie.js')}}"></script>
<script src="{{asset('media/js/cbpAnimatedHeader.js')}}"></script>
<script src="{{asset('media/js/freelancer.js')}}"></script>
<script src="{{asset('media/js/titreAnimation.js')}}"></script>
<script src="https://www.google.com/recaptcha/api.js"></script>
{% endblock %}
