    <section id="skills">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 data-animate="lightSpeedIn">Mes compétences</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="row">
                        <article class="col-sm-4 ">
                            
                            <h3 class="text-center">Web</h3>
                            <ul class="star-bar-list web-skills list-unstyled text-uppercase">
                                {# star-bar dimension 35x184 #}
                                {#<li data-percent="0.80"><p>php</p><p class="star-bar"></p></li>
                                <li data-percent="0.72"><p>javascript</p><p class="star-bar"></p></li>
                                <li data-percent="0.70"><p>jquery</p><p class="star-bar"></p></li>
                                <li data-percent="0.68"><p>bootstrap</p><p class="star-bar"></p></li>
                                <li data-percent="0.75"><p>ajax</p><p class="star-bar"></p></li>
                                <li data-percent="0.65"><p>mysql</p><p class="star-bar"></p></li>
                                <li data-percent="0.45"><p>apache2</p><p class="star-bar"></p></li>
                                <li data-percent="0.25"><p>Symfony 2</p><p class="star-bar"></p></li>
                                <li data-percent="0.25"><p>WordPress</p><p class="star-bar"></p></li>#}
                                <li><p>php</p></li>
                                <li><p>Symfony</p></li>
                                <li><p>javascript</p></li>
                                <li><p>jquery</p></li>
                                <li><p>bootstrap</p></li>
                                <li><p>ajax</p></li>
                                <li><p>mysql</p></li>
                                <li><p>apache2</p></li>
                                
                                <li data-percent="0.25"><p>WordPress</p></li>
                            </ul>
                        </article>
                        <article class="col-sm-4">
                            <h3 class="text-center">Informatique</h3>
                            <ul class="star-bar-list informatique-skills list-unstyled text-uppercase">
                                <li><p>windows</p></li>
                                <li><p>linux</p></li>
                                <li><p>par-feux</p></li>
                                <li><p>routage statique</p></li>
                                <li><p>vlan</p></li>
                                <li><p>microsoft ad</p></li>
                            </ul>
                        </article>
                        <article class="col-sm-4">
                            <h3 class="text-center">Langues</h3>
                            <ul class="star-bar-list language-skills list-unstyled text-uppercase">
                                <li><p>Anglais</p></li>
                                <li><p>Russe</p></li>
                            </ul>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>