    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 data-animate="lightSpeedIn">À propos</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p class="text-indent text-justify">Issu d'une formation solide d’Ingénieur-programmeur, j'ai débuté ma carrière professionnelle en tant qu'administrateur réseau. J'ai pratiqué ce métier durant 5 ans en Russie. J'ai notamment déployé
un réseau informatique d'entreprise, du câblage à la sécurisation des systèmes d'information, et des
BDD à la maintenance. En tant que technicien réseau pour l'Académie Moderne Humanitaire,
j'ai optimisé un CRM de gestion de la scolarité des étudiants grâce à des modules Delphi 7. J'ai
également rédigé des fiches techniques pour le service central de développement de logiciels de
l'Académie.</p><p class="text-indent text-justify">
En France, depuis deux ans je me positionne comme développeur Web. 
En occupant ce poste au sein de la structure Résurgences j’ai réalisé la mise à jour des actualités des différents sites du groupe. 
J'étais chargé de la maintenance du réseau et du parc informatique (Linux, Mac OS, Windows). 
Puis au sein de KMS, j'ai développé des nouvelles fonctionnalités sur le site Web existant.
</p><p class="text-indent text-justify">Curieux et passionné par les nouvelles technologies, 
                j'ai décidé d’apprendre des frameworks comme Symfony et Wordpress. 
                J’ai donc pris la décision de participer à la formation organisée par 3W Academy.
</p>
                </div>

            </div>
        </div>
    </section>