<table style="border: 1px solid grey;" width="100%" align="center" bgcolor="white" cellspacing="0" cellpadding="0">
    <tr style="border: 1px solid grey;">
        <td style="border: 1px solid grey;">Message from</td>
        <td style="border: 1px solid grey;">{{message.name}}</td>
    </tr>
    <tr style="border: 1px solid grey;">
        <td style="border: 1px solid grey;">Email address</td>
        <td style="border: 1px solid grey;">{{message.email}}</td>
    </tr>
    <tr style="border: 1px solid grey;">
        <td style="border: 1px solid grey;">Telephone</td>
        <td style="border: 1px solid grey;">{{message.phoneNumber}}</td>
    </tr>
    <tr style="border: 1px solid grey;">
        <td style="border: 1px solid grey;">Text</td>
        <td style="border: 1px solid grey;">{{message.message}}</td>
    </tr>
</table>